<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Posts</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Floating shapes -->
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  
  <div class="shape square"></div>
  <div class="shape square"></div>
  <div class="shape triangle"></div>

  <div class="container">
    <h1>All Posts</h1>

    <form action="/posts/new" method="GET">
      <button class="btn create-btn">Create New Blog</button>
    </form>
    <br>

    <% for(post of posts) { %>
      <div class="post-card">
        <h4>Posted by: <i><%= post.name %></i></h4>

        <div class="content">
          <p>Content: <%= post.content %></p>

          <form action="/posts/<%= post.id %>/edit" method="GET">
            <button class="btn edit-btn">Edit</button>
          </form>

          <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button class="btn delete-btn">Delete</button>
          </form>
        </div>
        <hr>
        <p class="timestamp"><%= post.created_at.toString().split(" ")[4] %></p>
        <p class="timestamp"><%= post.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
      </div>
      <br>
    <% } %>
  </div>
</body>
</html>
